{% extends "layout.html" %}



{% block title %}Bayesian Calculator{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bayes.css') }}">
{% endblock %} 

{% block content %}


<div style="padding: 0; margin: 0;">

<form action="/calculate" class="row">    
    <input type="text" class="column" placeholder="A" name="name_a" id="name_a"/>
    <input type="text" class="column" placeholder="B" name="name_b" id="name_b"/>
    
    <input type="text" class="column" placeholder="P(A)" name="a" id="a"/>
    <input type="text" class="column" placeholder="P(A`)" name="a`" id="a`"/>
    <input type="text" class="column" placeholder="P(B`)" name="b`" id="b`"/>
    <input type="text" class="column" placeholder="P(B`)" name="b`" id="b`"/>

    <input type="text" class="column" placeholder="P(B|A)" name="b|a" id="b|a"/>
    <input type="text" class="column" placeholder="P(B`|A)" name="b`|a" id="b`|a"/>
    <input type="text" class="column" placeholder="P(B|A`)" name="b|a`" id="b|a`"/>
    <input type="text" class="column" placeholder="P(B`|A`)" name="b`|a`" id="b`|a`"/>

    <input type="text" class="column" placeholder="P(A|B)" name="a|b" id="a|b"/>
    <input type="text" class="column" placeholder="P(A`|B)" name="a`|b" id="a`|b"/>
    <input type="text" class="column" placeholder="P(A|B`)" name="a|b`" id="a|b`"/>
    <input type="text" class="column" placeholder="P(A`|B`)" name="a`|b`" id="a`|b`"/>

    <input type="text" class="column" placeholder="P(A^B)" name="a^b" id="a^b"/>
    <input type="text" class="column" placeholder="P(B^A`)" name="b^a`" id="b^a`"/>
    <input type="text" class="column" placeholder="P(A`^B`)" name="a`^b`" id="a`^b`"/>
    <input type="text" class="column" placeholder="P(B`^A)" name="b`^a" id="b`^a"/>
    
    <input type="text" class="column" placeholder="P(A||B)" name="a||b" id="a||b"/>
    <input type="text" class="column" placeholder="P(B||A`)" name="b||a`" id="b||a`"/>
    <input type="text" class="column" placeholder="P(A`||B`)" name="a`||b`" id="a`||b`"/>
    <input type="text" class="column" placeholder="P(B`||A)" name="b`||a" id="b`||a"/>



    <button type="submit">Calculate</button>
</form>

{% if v %}
<canvas id="myCanvas" width="720" height="720" style="border:1px solid #d3d3d3;  display: inline-block; float: left; " ></canvas>

<script src="/static/scripts/bayes.js" type="text/javascript"></script>
<script> draw_square({{ v|tojson }}, '{{ a }}', '{{ b }}');</script>

<ol style="display: inline-block; float: left;">
    <!-- initial -->
    <li>P({{ a }}) = {{ v['a'] }}</li>
    <li>P({{ a }}`) = 1 - P({{ a }}`) = {{ v['a`'] }}</li>

    <li>P({{ b }}|{{ a }}) = {{ v['b|a'] }}</li>
    <li>P({{ b }}|{{ a }}`) = {{ v['b|a`'] }}</li>


    <li>P({{ b }}`|{{ a }}) = 1 - P({{ b }}|{{ a }}) =  {{ v['b`|a'] }}</li>
    <li>P({{ b }}`|{{ a }}`) = 1 - P({{ b }}|{{ a }}`) =  {{ v['b`|a`'] }}</li>
    <!-- and  -->
    <li>P({{ b }} and {{ a }}) = P({{ b }}|{{ a }}) *   P({{ a }}) = {{ v['a^b'] }}</li>
    <li>P({{ b }}` and {{ a }}) = P({{ b }}`|{{ a }}) *  P({{ a }}) = {{ v['b`^a'] }}</li>
    <li>P({{ b }} and {{ a }}`) = P({{ b }}|{{ a }}`) *  P({{ a }}`) = {{ v['b^a`'] }}</li>
    <li>P({{ b }}` and {{ a }}`) = P({{ b }}`|{{ a }}`) * P({{ a }}`) = {{ v['a`^b`'] }}</li>

    <!-- b -->
    <li>P({{ b }}) = P({{ b }} and {{ a }}) + P({{ b }} and {{ a }}`) = {{ v['b']}} </li>
    <li>P({{ b }}`) = 1 - P({{ b }}) = {{ v['b`'] }}</li>


    <!-- final values -->
    <li>P({{ a }}|{{ b }}) = P({{ b }} and {{ a }}) / P({{ b }})     = {{ v['a|b'] }}</li>
    <li>P({{ a }}|{{ b }}`) = P({{ b }}` and {{ a }}) / P({{ b }}`)  = {{ v['a|b`'] }}</li>
    <li>P({{ a }}`|{{ b }}) = P({{ b }} and {{ a }}`) / P({{ b }})   = {{ v['a`|b'] }}</li>
    <li>P({{ a }}`|{{ b }}`) = P({{ b }}` and {{ a }}`) / P({{ b }}`)= {{ v['a`|b`'] }}</li>
    
    <!-- or  -->
    <li>P({{ b }} or {{ a }}) = P({{ b }}) + P({{ a }}) - P({{ b }} and {{ a }}) = {{ v['a||b'] }}</li>
    <li>P({{ b }}` or {{ a }}) = P({{ b }}`) + P({{ a }}) - P({{ b }}` and {{ a }}) = {{ v['b`||a'] }}</li>
    <li>P({{ b }} or {{ a }}`) = P({{ b }}) + P({{ a }}`) - P({{ b }} and {{ a }}`) = {{ v['b||a`'] }}</li>
    <li>P({{ b }}` or {{ a }}`) = P({{ b }}`) + P({{ a }}`) - P({{ b }}` and {{ a }}`) = {{ v['a`||b`'] }}</li>
</ol>
<br>
<p> P({{ b }}^{{ a }}) variants are relative to the whole box</p>
<p> P({{ b }}|{{ a }}) variants are relative to P({{ a }}) or ({{ a }}`)</p>
<a id="download" download="bayes_graph.png">
    <button type="button" onClick="download()">Download Graph</button>
</a>
</div>

{% endif %}
<p>A Bayesian calculator that derives as much information from the input as possible and express it geometrically.</p>

{% endblock %}