{% extends "layout.html" %}
{% block content %}

<div style="position: fixed; padding: 0; margin: 0;">
<form action="/calculate">    
    <input type="text" placeholder="A" name="name_a" id="name_a"/>
    <input type="text" placeholder="B" name="name_b" id="name_b"/>
    <input type="text" placeholder="P(A)" name="a" id="a"/>
    <input type="text" placeholder="P(B|A)" name="bga" id="bga"/>
    <input type="text" placeholder="P(B|A`)" name="bgna" id="bgna"/>
    <button type="submit">Calculate</button>
</form>

{% if v %}
<canvas id="myCanvas" width="720" height="720" style="border:1px solid #d3d3d3;  display: inline-block; float: left; " ></canvas>

<script src="/static/scripts/bayes.js" type="text/javascript"></script>
<script> draw_square({{ v|tojson }}, '{{ a }}', '{{ b }}');</script>
<script>var data = canvas.toDataURL();
    var prev = window.location.href;
    window.location.href = data.replace("image/png", "image/octet-stream");
    window.location.href = prev;</script>
<!-- <button onclick="draw_circle()">Circle</button>
<button onclick="draw_square()">Square</button> -->

<ol style="display: inline-block; float: left;">
    <!-- initial -->
    <li>P({{ a }}) = {{ v['a'] }}</li>
    <li>P({{ b }}|{{ a }}) = {{ v['b_given_a'] }}</li>
    <li>P({{ b }}|{{ a }}`) = {{ v['b_given_not_a'] }}</li>
    <!-- inverse -->
    <li>P({{ a }}`) = 1 - P({{ a }}`) = {{ v['not_a'] }}</li>
    <li>P({{ b }}`|{{ a }}) = 1 - P({{ b }}|{{ a }}) =  {{ v['not_b_given_a'] }}</li>
    <li>P({{ b }}`|{{ a }}`) = 1 - P({{ b }}|{{ a }}`) =  {{ v['not_b_given_not_a'] }}</li>
    <!-- and  -->
    <li>P({{ b }} and {{ a }}) = P({{ b }}|{{ a }}) *   P({{ a }}) = {{ v['b_and_a'] }}</li>
    <li>P({{ b }}` and {{ a }}) = P({{ b }}`|{{ a }}) *  P({{ a }}) = {{ v['not_b_and_a'] }}</li>
    <li>P({{ b }} and {{ a }}`) = P({{ b }}|{{ a }}`) *  P({{ a }}`) = {{ v['b_and_not_a'] }}</li>
    <li>P({{ b }}` and {{ a }}`) = P({{ b }}`|{{ a }}`) * P({{ a }}`) = {{ v['not_b_and_not_a'] }}</li>

    <!-- b -->
    <li>P({{ b }}) = P({{ b }} and {{ a }}) + P({{ b }} and {{ a }}`) = {{ v['b']}} </li>
    <li>P({{ b }}`) = 1 - P({{ b }}) = {{ v['not_b'] }}</li>


    <!-- final values -->
    <li>P({{ a }}|{{ b }}) = P({{ b }} and {{ a }}) / P({{ b }})     = {{ v['a_given_b'] }}</li>
    <li>P({{ a }}|{{ b }}`) = P({{ b }}` and {{ a }}) / P({{ b }}`)  = {{ v['a_given_not_b'] }}</li>
    <li>P({{ a }}`|{{ b }}) = P({{ b }} and {{ a }}`) / P({{ b }})   = {{ v['not_a_given_b'] }}</li>
    <li>P({{ a }}`|{{ b }}`) = P({{ b }}` and {{ a }}`) / P({{ b }}`)= {{ v['not_a_given_not_b'] }}</li>
    
    <!-- or  -->
    <li>P({{ b }} or {{ a }}) = P({{ b }}) + P({{ a }}) - P({{ b }} and {{ a }}) = {{ v['b_or_a'] }}</li>
    <li>P({{ b }}` or {{ a }}) = P({{ b }}`) + P({{ a }}) - P({{ b }}` and {{ a }}) = {{ v['not_b_or_a'] }}</li>
    <li>P({{ b }} or {{ a }}`) = P({{ b }}) + P({{ a }}`) - P({{ b }} and {{ a }}`) = {{ v['b_or_not_a'] }}</li>
    <li>P({{ b }}` or {{ a }}`) = P({{ b }}`) + P({{ a }}`) - P({{ b }}` and {{ a }}`) = {{ v['not_b_or_not_a'] }}</li>
</ol>
<p>All P({{ b }}^{{ a }}) variants are relative to the box </p>
<p>All P({{ b }}|{{ a }}) variants are relative to P({{ a }}) or ({{ a }}`)</p>
<a id="download" download="triangle.png">
    <button type="button" onClick="download()">Download Graph</button>
    </a>
</div>

{% endif %}
{% endblock %}