{% extends "layout.html" %}


{% block title %}Impossible Chessboard Puzzle{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/chess.css') }}">
{% endblock %} 



{% block content %}

<div class="wrapper">
<div class='a'><canvas class='first' id="myCanvas" width="500%" height="500%" style="border:1px solid #d3d3d3; " ></canvas></div>


<div class='box b'><button style="width: 110%" onclick="random_board()">Random</button></div>
<div class='box c'><button style="width: 110%" onclick="clear_board()">Clear</button></div>
<div class='box d'><button style="width: 110%" onclick="result()">Target</button></div>
<div class='box e'><input style="width: 110%" type="text" id="text" value="1"></div>
<div class='box f'><p style="width: 110%" id="ans"></p></div>
</div>


<script src="/static/scripts/chess.js" type="text/javascript"></script>
{% endblock %}