{% extends "layout.html" %}
{% block title %}Yechiel Kirschner{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %} 
{% block content %}


<div class="main">
  <p class="heading">Yechiel Kirschner</p>

<div class="left"><a href="https://github.com/YechielK">github</a></div>
<div class="left"><a href="/projects">projects</a></div>
<div class="left"><a href="https://www.linkedin.com/in/yechiel-kirschner">linkedin</a></div>

</div>

{% endblock %}


