{% extends "layout.html" %}

{% block title %}Sentiment Predictor{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/sentiment_predictor.css') }}"
{% endblock %} 

{% block content %}



<h1>Sentiment Predictor</h1>
<form class="align-middle" style="vertical-align: middle" action="/predict">
    <input type="text" placeholder="Enter sentence here" name="sentence" id="sentence"/>
    <button type="submit">Predict</button>
</form>

{%if showPrediction%}
<p>"{{sentence}}" is predicted to be <strong>{{result}}</strong> with {{prob}} confidence</p>
{% endif %}

<!-- <p style="vertical-align: middle">Your sentence got turned into "{{lemmed}}"</p> -->
{% endblock %}