 /* .navbar-ul {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
} */

/* #home_button {
    font-size: 2em; 
} */

.bar{
    text-align:center;
    font-size: 2.5em; 
    justify-content: flex-end;
    float:left; 
    width:50%;  
}
